//font

//font family
$font-family-for-all: 'Inter', sans-serif;

//font-weight
$font-weight-quotes: 400;
$font-weight-author: 700;

$font-weight-btn: 700;

$font-weight-greetings: 400;
$font-weight-actual-time: 700;
$font-weight-bst: 300;
$font-weight-city-and-country: 700;
$font-weight-expand-description: 400;
$font-weight-expand-num-zone: 700;

//font-size
$font-size-btn: 1.6rem;

$font-size-quotes: 1.8rem;

$font-size-greetings: 2rem;
$font-size-actual-time: 20rem;
$font-size-bst: 4rem;
$font-size-city-and-country: 2.4rem;

$font-size-expand-num-zone: 5.6rem;
$font-size-expand-description: 1.5rem;

//line-height
$line-height-btn: 2.8rem;

$line-height-quotes: 2.8rem;

$line-height-greetings: 2.8rem;
$line-height-actual-time: 20rem;
$line-height-bst: 2.8rem;
$line-height-city-and-country: 2.8rem;

$line-height-expand-num-zone: 6.8rem;
$line-height-expand-description: 2.8rem;

//colors

//font
$color-fonts-all: #FFFFFF;
$color-fonts-btn-normal: rgba(0, 0, 0, 1)
;
$color-fonts-btn-hover: #999999;
$color-fonts-expand-day: #303030;
$color-fonts-expand-night: #FFFFFF;

//bgc
$color-bgc-btn-normal: rgb(48, 48, 48);
$color-bgc-btn-hover: #999999;
$color-bgc-btn-txt: #FFFFFF;